{% macro paginate(page_obj, page_url) %}
    {% if page_obj.pages > 1 %}
        <div class="pagination">

            {% if page_obj.has_prev %}
                <span class="previous">
                    <a href="{{ page_url(page_obj.page - 1) }}">&larr;  较新</a>
                </span>
            {% endif %}

            {% if page_obj.has_next %}
                <span class="next">
                    <a href="{{ page_url(page_obj.page + 1) }}">更早 &rarr;</a>
                </span>
            {% endif %}

        </div>
    {% endif %}
{% endmacro %}